{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid">
        <form method="post">
            <div class="row justify-content-center">
                <div class="col col-lg-4 col-sm-6 ">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col col-lg-4 col-sm-6">
                    <button class="btn btn-success btn-block" type="submit">Login</button>

                </div>
            </div>
        </form>
    </div>
{% endblock content %}