body {
    padding-top: 130px;
}

h1 {
    color: #000000;
    font-weight: bold;
    font-size: 2.00rem;
}

h2 {
    color: #000000;
    font-weight: bold;
    font-size: 1.75rem;
}

h3 {
    color: #000000;
    font-weight: bold;
    font-size: 1.50rem;
}
